body{
    background-color: black;
}
img{
    width: 100px;
    margin-top: 200px;
}
.picturess{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}